input {
    padding: 0.7vw;
    margin: 0.5vw;
    width: 95%;
} 
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -25%;
    left: 150%;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
@media (max-width: 600px) {
    .tooltip .tooltiptext {
      bottom: -175%;
      left: auto;
      right: 25%;
      white-space: normal;
    }
  }
  #carousel-section {
    position: relative;
    width: 1090px;
    margin: 0 auto;
  }

  .carousel-container {
    overflow: hidden;
  }
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .carousel-item {
    width: 350px; 
  }
  .carousel-item:not(:last-child){
    margin-right: 20px;
  }
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  .carousel-button-prev {
    left: -50px;
  }
  .carousel-button-next {
    right: -50px;
  }